.first-comp-hs {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  gap: 10px; // Khoảng cách giữa nút back và tiêu đề

  .back-button {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    color: #70450c; // Màu của nút back
  }

  .header-title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: #333;
  }

  .divider-line {
    flex-grow: 1; // Để đường kẻ kéo dài hết hàng
    height: 1px;
    background-color: #ccc;
    margin-left: 10px;
  }
}
