.login-page {
  position: relative; /* Đặt phần tử cha làm gốc để phần tử con có thể định vị tuyệt đối */
  width: 100%;
  height: 100vh; /* Chiều cao 100% viewport */
}

.login-container {
  position: fixed; /* Định vị phần partner section tuyệt đối */
  top: 30%; /* Điều chỉnh vị trí trên so với hình ảnh (tuỳ chỉnh theo nhu cầu) */
  right: 90px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  width: 350px;
  // margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  font-size: 24px;
  color: #70450c;
  margin-bottom: 20px;
  margin-top: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 10px;
}

label {
  width: 100%;
  //padding-right: 15px;
  text-align: left;
  font-size: 16px;
  color: #6e6e6e;
  display: inline-block;
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-bottom: 8px;
  box-sizing: border-box;

  /* Khi người dùng focus vào input, hiển thị viền màu xanh */
  &:focus {
    border-color: #70450c;
    outline: none;
  }
}

.login-button-big {
  font-size: 16px; /* Kích thước chữ */
  font-weight: 500;
  background-color: #70450c;
  color: white;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 10px;
  margin-top: 0px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8e5b35;
  }
}

.forgot-password-link {
  font-size: 14px;
  color: #6e6e6e;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
