.register-page {
  position: relative; /* Đặt phần tử cha làm gốc để phần tử con có thể định vị tuyệt đối */
  width: 100%;
  height: 100vh; /* Chiều cao 100% viewport */
}
.background-image {
  width: 100%;
  height: 88%;
}

.partner-section {
  position: fixed; /* Định vị phần partner section tuyệt đối */
  top: 30%; /* Điều chỉnh vị trí trên so với hình ảnh (tuỳ chỉnh theo nhu cầu) */
  right: 90px; /* Đặt nó ở giữa theo chiều ngang */
  //transform: translateX(-50%); /* Dịch chuyển phần tử về giữa hoàn toàn */
  width: 30%; /* Tùy chỉnh độ rộng */
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Màu nền có độ trong suốt */
  text-align: center;
  z-index: 2; /* Đặt phần này nằm trên hình nền */
  border-radius: 10px;

  h2 {
    font-size: 24px; /* Kích thước chữ */
    font-weight: 600; /* Đậm chữ */
    color: #333; /* Màu chữ */
    text-align: center; /* Căn giữa tiêu đề nếu cần */
    margin-top: 0;
  }

  p {
    font-size: 16px; /* Kích thước chữ */
    font-weight: 500; /* Đậm chữ */
    color: #333;
    text-align: left; /* Căn lề trái cho tất cả các đoạn văn */
    margin-top: 0; /* Loại bỏ khoảng cách phía trên */
    margin-bottom: 5px;
  }
}

.partner-roles {
  display: flex;
  justify-content: space-around; /* Tạo khoảng cách đều giữa các nút */
  margin-top: 20px;
  margin-bottom: 10px;
}
