.header-wrapper {
  height: 80px;
  max-width: 100vw;
  background-color: #fef2e4;
  font-size: 24px;
  font-weight: 500;
  color: #532f00;
  position: sticky;
  top: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Adds bottom shadow

  .header-container {
    display: flex;
    padding: 0px 50px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .content-container {
      display: flex;
      flex-direction: row;
      gap: 2em;
      padding: 0 20px;
      .order {
        cursor: pointer;
      }
    }
    .account-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 20px;
      .login-button {
        font-size: 18px; /* Kích thước chữ */
        font-weight: 600; /* Đậm chữ */
        text-decoration: none;
        color: #333;
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
    }
  }
}
