.button-square {
  background-color: #f4d5a6; /* Màu nền giống với hình ảnh */
  border: none; /* Loại bỏ viền của nút */
  padding: 10px; /* Khoảng cách bên trong nút */
  border-radius: 20px; /* Bo tròn các góc */
  display: flex; /* Sử dụng flexbox */
  flex-direction: column; /* Sắp xếp theo cột */
  align-items: center; /* Căn giữa theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều dọc */
  cursor: pointer; /* Thay đổi con trỏ chuột khi hover */
  width: 130px; /* Độ rộng của nút */
  height: 130px; /* Độ cao của nút */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu khi hover */

  &:hover {
    background-color: #e3d1b8; /* Màu nền khi hover */
  }
}

.button-content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Căn giữa hình ảnh và nhãn theo chiều ngang */
  justify-content: center; /* Căn giữa theo chiều dọc */
  height: 100%; /* Đảm bảo toàn bộ chiều cao container được sử dụng */
}

.button-icon {
  width: 80px;
  height: auto;
  margin-bottom: 11px; /* Khoảng cách giữa biểu tượng và nhãn */
}

.button-label {
  font-size: 18px; /* Kích thước chữ */
  font-weight: 700; /* Đậm chữ */
  color: #70450c; /* Màu chữ */
  text-align: center; /* Căn giữa chữ */
  margin-top: auto; /* Đẩy label xuống dưới */
  margin-bottom: 5px; /* Đảm bảo có khoảng cách dưới */
}
